<section id="login-form-container">
  <form [formGroup]="loginForm" id="login-form">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              required
            />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="loginForm.get('email')?.invalid">{{
              errorMessage(loginForm, "email")
            }}</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="loginForm.get('password')?.invalid || serverError"
              >{{
                errorMessage(loginForm, "password", serverError || undefined)
              }}</mat-error
            >
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button class="login-btn" mat-raised-button (click)="login()">Login</button>
  </form>
</section>
