.mat-accordion
  .mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.panel-product-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.inline-detail {
  display: inline-block;
}
#description-box {
  max-width: 400px;
}
.product-detail {
  display: inline-block;
}
.panel-container {
  display: flex;
  flex-direction: row;

  gap: 50px;
}
#cancel-btn.mat-mdc-dialog-actions {
  justify-content: end;
}

.dialog-content-container {
  max-height: 80vh;
  overflow-y: auto;
}
img {
  max-width: 300px;
  max-height: 300px;
}
#description-input {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#description-input:hover {
  overflow: auto;
}

#edit-product-tab {
  touch-action: pan-y;
}

.bold {
  font-weight: bold;
  color: #000000;
  margin-right: 4px;
}

.total-price {
  font-size: 1.2rem;
}
.complete {
  color: #008000;
}
.cancelled,
.rejected {
  color: #ff0000;
}
.shipping {
  color: #ffbc37;
}
.cancel-btn {
  background-color: #ff0000a9;
  color: black;
  margin: 30px;
}
#spinner-container {
    display: flex;
    justify-content: center;
  }
@media (max-width: 767px) {
  .panel-container {
    flex-direction: column;
    gap: 20px;
  }

  #description-box {
    max-width: 100%;
  }
  #payment-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
