.full-width {
  width: 100%;
}

.profile-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile-detail {
  max-width: 200px;
  word-wrap: break-word;
  word-break: break-all;
}
.profile-column-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 25px;
  padding: 30px;
  box-shadow: 0px 3px 3px 3px #00000077;
}

mat-form-field {
  width: 350px;
}

#profile-container {
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-container {
  margin: 0 30px 20px;
}

h4 {
  text-align: start;
}
.action-btn {
  background-color: #f2ad54;
  color: black;
  margin-right: 30px;
}
.action-btn-disabled {
  background-color: #f2ae54a6;
  color: black;
  margin-right: 30px;
}
#profile-section {
  margin-bottom: 50px;
}
#spinner-container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  mat-form-field {
    width: 100%;
  }

  #profile-container {
    margin-bottom: 20px;
  }

  .profile-flex-container {
    flex-direction: column;
  }

  .user-container {
    margin: 10px 0;
  }

  .action-btn {
    width: 50%;
    margin: 10px 10px;
  }
}
