<footer>
  <button (click)="scrollToTop()" class="back-to-top-btn">Back To Top</button>
  <div class="footer-container">
    <div class="footer-links">
      <div class="footer-link-wrapper">
        <div class="footer-link-items">
          <h2>About Us</h2>
          <a href="about">How it works</a>
          <a href="about">Testimonials</a>
          <a href="about">Careers</a>
          <a href="about">Investors</a>
          <a href="about">Terms of Service</a>
        </div>
        <div class="footer-link-items">
          <h2>Contact Us</h2>
          <a href="/">Contact</a>
          <a href="/">Support</a>
          <a href="/">Destinations</a>
          <a href="/">Sponsorships</a>
        </div>
      </div>
      <div class="footer-link-wrapper">
        <div class="footer-link-items">
          <h2>Social Media</h2>
          <a href="/">Instagram</a>
          <a href="/">Facebook</a>
          <a href="/">Youtube</a>
          <a href="/">Twitter</a>
        </div>
      </div>
    </div>
    <section class="social-media">
      <div class="social-media-wrap">
        <div>
          <a title="Vstore" class="footer-logo" href="/">Vstore</a>
        </div>
        <small class="website-rights">VSTORE © 2023</small>
        <div class="social-icons">
          <a class="social-icon-link" href="/">
            <mat-icon>facebook</mat-icon>
          </a>
          <a class="social-icon-link" href="/">
            <mat-icon>youtube_searched_for</mat-icon>
          </a>
          <a class="social-icon-link" href="/">
            <mat-icon>alternate_email</mat-icon>
          </a>
          <a class="social-icon-link" href="/">
            <mat-icon>linked_camera</mat-icon>
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>
